<h3>Add Notes</h3>
<div class="row">
  <form action="/notes" method="POST" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" required />
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Take some notes!</h5>
        <textarea
          id="body"
          name="body"
          placeholder="Please write your note here!"
          required
        ></textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn" />
      <a href="/dashboard" class="btn orange">CANCEL</a>
    </div>
  </form>
</div>

<script type="javascript" href="../../public/js/note.js"></script>